body {
  margin: 0;
  overflow-x: hidden !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tag-card {
  transition: all 0.2s;
  background-size: 100%;
}

.tag-card:hover {
  background-size: 105%;
}

.topkills {
  border-left: 3px solid rgb(224, 41, 131);
}

.topfame {
  border-left: 3px solid #29e09d;
}

.fameandkills {
  border-left: 3px solid ;
  animation: borderColor 1s infinite alternate;
}

.empty-image:empty:before {
  content: "\200b"; 
}

@keyframes borderColor {
  from {
      border-left: 3px solid rgb(224, 41, 131);
  }
  to {
      border-left: 3px solid #29e09d;
  }
}

.item-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.item-list::-webkit-scrollbar {
  width: 6px;               /* width of the entire scrollbar */
}
.item-list::-webkit-scrollbar-track {
  background: #0f131a;        /* color of the tracking area */
}
.item-list::-webkit-scrollbar-thumb {
  background-color: rgb(41, 206, 224);    /* color of the scroll thumb */
  border-radius: 5px;       /* roundness of the scroll thumb */
}

/* 
::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*/